In [1]:
import pandas as pd
import json

In [2]:
archivo_json=open("ejemplo1.json")

In [3]:
#Cargo un archivo
data=json.load(archivo_json)

In [4]:
data

{'Duration': {'0': 60, '1': 60, '2': 60, '3': 45, '4': 45, '5': 60},
 'Pulse': {'0': 110, '1': 117, '2': 103, '3': 109, '4': 117, '5': 102},
 'Maxpulse': {'0': 130, '1': 145, '2': 135, '3': 175, '4': 148, '5': 127},
 'Calories': {'0': 409, '1': 479, '2': 340, '3': 282, '4': 406, '5': 300}}

In [8]:
#Convierto un archivo a json
texto=""" {"Duration": {"0": 60, "1": 60, "2": 60, "3": 45, "4": 45, "5": 60},
 "Pulse": {"0": 110, "1": 117, "2": 103, "3": 109, "4": 117, "5": 102},
 "Maxpulse": {"0": 130, "1": 145, "2": 135, "3": 175, "4": 148, "5": 127},
 "Calories": {"0": 409, "1": 479, "2": 340, "3": 282, "4": 406, "5": 300}}
"""
mijson=json.loads(texto)
mijson

{'Duration': {'0': 60, '1': 60, '2': 60, '3': 45, '4': 45, '5': 60},
 'Pulse': {'0': 110, '1': 117, '2': 103, '3': 109, '4': 117, '5': 102},
 'Maxpulse': {'0': 130, '1': 145, '2': 135, '3': 175, '4': 148, '5': 127},
 'Calories': {'0': 409, '1': 479, '2': 340, '3': 282, '4': 406, '5': 300}}

In [10]:
pd.read_json("ejemplo1.json", orient="column")

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [11]:
pd.read_json("ejemplo1.json", orient="index")

            0    1    2    3    4    5
Duration   60   60   60   45   45   60
Pulse     110  117  103  109  117  102
Maxpulse  130  145  135  175  148  127
Calories  409  479  340  282  406  300

In [16]:
import requests
import json
import pandas as pd
url="https://raw.githubusercontent.com/bttmly/nba/master/data/teams.json"
respuesta=requests.get(url)
print(respuesta)

<Response [200]>

In [21]:
texto=respuesta.text
jsondata=json.loads(texto)
jsondata

[{'teamId': 1610612737,
  'abbreviation': 'ATL',
  'teamName': 'Atlanta Hawks',
  'simpleName': 'Hawks',
  'location': 'Atlanta'},
 {'teamId': 1610612738,
  'abbreviation': 'BOS',
  'teamName': 'Boston Celtics',
  'simpleName': 'Celtics',
  'location': 'Boston'},
 {'teamId': 1610612751,
  'abbreviation': 'BKN',
  'teamName': 'Brooklyn Nets',
  'simpleName': 'Nets',
  'location': 'Brooklyn'},
 {'teamId': 1610612766,
  'abbreviation': 'CHA',
  'teamName': 'Charlotte Hornets',
  'simpleName': 'Hornets',
  'location': 'Charlotte'},
 {'teamId': 1610612741,
  'abbreviation': 'CHI',
  'teamName': 'Chicago Bulls',
  'simpleName': 'Bulls',
  'location': 'Chicago'},
 {'teamId': 1610612739,
  'abbreviation': 'CLE',
  'teamName': 'Cleveland Cavaliers',
  'simpleName': 'Cavaliers',
  'location': 'Cleveland'},
 {'teamId': 1610612742,
  'abbreviation': 'DAL',
  'teamName': 'Dallas Mavericks',
  'simpleName': 'Mavericks',
  'location': 'Dallas'},
 {'teamId': 1610612743,
  'abbreviation': 'DEN',
  'teamName': 'Denver Nuggets',
  'simpleName': 'Nuggets',
  'location': 'Denver'},
 {'teamId': 1610612765,
  'abbreviation': 'DET',
  'teamName': 'Detroit Pistons',
  'simpleName': 'Pistons',
  'location': 'Detroit'},
 {'teamId': 1610612744,
  'abbreviation': 'GSW',
  'teamName': 'Golden State Warriors',
  'simpleName': 'Warriors',
  'location': 'Golden State'},
 {'teamId': 1610612745,
  'abbreviation': 'HOU',
  'teamName': 'Houston Rockets',
  'simpleName': 'Rockets',
  'location': 'Houston'},
 {'teamId': 1610612754,
  'abbreviation': 'IND',
  'teamName': 'Indiana Pacers',
  'simpleName': 'Pacers',
  'location': 'Indiana'},
 {'teamId': 1610612746,
  'abbreviation': 'LAC',
  'teamName': 'Los Angeles Clippers',
  'simpleName': 'Clippers',
  'location': 'Los Angeles'},
 {'teamId': 1610612747,
  'abbreviation': 'LAL',
  'teamName': 'Los Angeles Lakers',
  'simpleName': 'Lakers',
  'location': 'Los Angeles'},
 {'teamId': 1610612763,
  'abbreviation': 'MEM',
  'teamName': 'Memphis Grizzlies',
  'simpleName': 'Grizzlies',
  'location': 'Memphis'},
 {'teamId': 1610612748,
  'abbreviation': 'MIA',
  'teamName': 'Miami Heat',
  'simpleName': 'Heat',
  'location': 'Miami'},
 {'teamId': 1610612749,
  'abbreviation': 'MIL',
  'teamName': 'Milwaukee Bucks',
  'simpleName': 'Bucks',
  'location': 'Milwaukee'},
 {'teamId': 1610612750,
  'abbreviation': 'MIN',
  'teamName': 'Minnesota Timberwolves',
  'simpleName': 'Timberwolves',
  'location': 'Minnesota'},
 {'teamId': 1610612740,
  'abbreviation': 'NOP',
  'teamName': 'New Orleans Pelicans',
  'simpleName': 'Pelicans',
  'location': 'New Orleans'},
 {'teamId': 1610612752,
  'abbreviation': 'NYK',
  'teamName': 'New York Knicks',
  'simpleName': 'Knicks',
  'location': 'New York'},
 {'teamId': 1610612760,
  'abbreviation': 'OKC',
  'teamName': 'Oklahoma City Thunder',
  'simpleName': 'Thunder',
  'location': 'Oklahoma City'},
 {'teamId': 1610612753,
  'abbreviation': 'ORL',
  'teamName': 'Orlando Magic',
  'simpleName': 'Magic',
  'location': 'Orlando'},
 {'teamId': 1610612755,
  'abbreviation': 'PHI',
  'teamName': 'Philadelphia 76ers',
  'simpleName': '76ers',
  'location': 'Philadelphia'},
 {'teamId': 1610612756,
  'abbreviation': 'PHX',
  'teamName': 'Phoenix Suns',
  'simpleName': 'Suns',
  'location': 'Phoenix'},
 {'teamId': 1610612757,
  'abbreviation': 'POR',
  'teamName': 'Portland Trail Blazers',
  'simpleName': 'Trail Blazers',
  'location': 'Portland'},
 {'teamId': 1610612758,
  'abbreviation': 'SAC',
  'teamName': 'Sacramento Kings',
  'simpleName': 'Kings',
  'location': 'Sacramento'},
 {'teamId': 1610612759,
  'abbreviation': 'SAS',
  'teamName': 'San Antonio Spurs',
  'simpleName': 'Spurs',
  'location': 'San Antonio'},
 {'teamId': 1610612761,
  'abbreviation': 'TOR',
  'teamName': 'Toronto Raptors',
  'simpleName': 'Raptors',
  'location': 'Toronto'},
 {'teamId': 1610612762,
  'abbreviation': 'UTA',
  'teamName': 'Utah Jazz',
  'simpleName': 'Jazz',
  'location': 'Utah'},
 {'teamId': 1610612764,
  'abbreviation': 'WAS',
  'teamName': 'Washington Wizards',
  'simpleName': 'Wizards',
  'location': 'Washington'}]

In [20]:
df=pd.DataFrame.from_dict(jsondata)

In [23]:
import pandas as pd
import sqlite3

In [27]:
con=sqlite3.connect("nba_salary.sqlite")
cursor=con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('NBA_season1718_salary',), ('Seasons_Stats',)]

In [28]:
query="SELECT * FROM NBA_season1718_salary"

In [30]:
resultado=pd.read_sql_query(query,con)
resultado

        X1          Player   Tm  season17_18
0      1.0   Stephen Curry  GSW   34682550.0
1      2.0    LeBron James  CLE   33285709.0
2      3.0    Paul Millsap  DEN   31269231.0
3      4.0  Gordon Hayward  BOS   29727900.0
4      5.0   Blake Griffin  DET   29512900.0
..     ...             ...  ...          ...
568  569.0      Quinn Cook  NOP      25000.0
569  570.0   Chris Johnson  HOU      25000.0
570  571.0      Beno Udrih  DET      25000.0
571  572.0   Joel Bolomboy  MIL      22248.0
572  573.0    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [32]:
apikey="AIzaSyD3HOqng3eGMkezAjFJDgAyPmDvWwiFsoI"

In [33]:
!pip install google-api-python-client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.7/dist-packages (1.12.11)
Requirement already satisfied: google-api-core<3dev,>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client) (1.31.6)
Requirement already satisfied: google-auth<3dev,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client) (1.35.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client) (0.0.4)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client) (0.17.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client) (3.0.1)
Requirement already satisfied: six<2dev,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client) (57.4.0)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client) (3.17.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client) (2022.4)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client) (1.56.4)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client) (21.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client) (2.23.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client) (4.9)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<3dev,>=1.21.0->google-api-python-client) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3dev,>=1.16.0->google-api-python-client) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client) (2.10)

In [36]:
from googleapiclient.discovery import build
youtube=build("youtube","v3",developerKey=apikey)

In [38]:
request=youtube.channels().list(
    part='statistics',
    forUsername='sentdex'
)

In [42]:
response=request.execute()

In [43]:
print(response)

{'kind': 'youtube#channelListResponse', 'etag': 'JgfUUPtUGJZepwqFbdhRSC7obwE', 'pageInfo': {'totalResults': 1, 'resultsPerPage': 5}, 'items': [{'kind': 'youtube#channel', 'etag': 'vcx03xHDIcrt9L7XBX5P2Soq-fE', 'id': 'UCfzlCWGWYyIQ0aLC5w48gBQ', 'statistics': {'viewCount': '105318509', 'subscriberCount': '1170000', 'hiddenSubscriberCount': False, 'videoCount': '1259'}}]}

In [46]:
type(response)

dict